/* CSS (styles.css) */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #080c1c;
    color: #f2f2f2;
  }
  header {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    gap: 2rem;
    color: #f2f2f2;
  }
  header a {
    text-decoration: none;
    color: #f2f2f2;
  }
  header a:hover {
    color: #00ffb3;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 6rem;
  }
  .intro {
    max-width: 50%;
    justify-content: center;

  }
  .intro h1 {
    color: #00ffb3;
    font-size: 3rem;
    font-weight: bold;
  }
  .intro p {
    color: #77ffd3;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  

  .gradient-text{
    background: linear-gradient(90deg, #43EA80, #08F8D4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .links {
    margin-top: 2rem;
    
  }
  .links a {
    margin-right: 3rem;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    background-color: #f2f2f2;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    transition: 0.5s;
  }

  .links a:hover{
    background-color: #080c1c;
    border-color: #f2f2f2;
    color: #f2f2f2;
  }
  /* .links a:hover {
    
  } */
  .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    
  }
  .profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 90%;
    background-image: url(/imagens.img/eu2.jpg);
    background-size: cover;
    box-shadow: 1px 2px 15px #f2f2f2;
    transition: transform 0.3s ease;
  }

  .profile-pic:hover {
    transform: scale(1.1);
  }
  /* .timeline {
    position: absolute;
    right: 4rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .timeline-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #00ffb3;
  }
  .timeline-line {
    width: 2px;
    height: 40px;
    background-color: #00ffb3;
  } */

  /* About-Section */
  .section-title {
    padding: 50px;
    font-size: 35px;
    background: linear-gradient(90deg, #43EA80, #08F8D4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .about-section{
    text-align: center;
    padding: 4rem 2rem;
  }
  .about-text {
    font-size: 1.1rem;
    max-width: 700px;
    margin: 0 auto 2rem;
    line-height: 1.8;
  }
  .slider{
    width: 80%;
    max-width: 1000px;
    margin: 2rem auto; /* centraliza horizontalmente */
    overflow: hidden;
    position: relative;
    height: 100px;
    border-radius: 12px;
  }

  .slide-track {
    display: flex;
    animation: scroll 20s linear infinite;
    width: calc(150px * 14); /* número total de logos (6 originais + 6 repetidos) */
  }

  .logo{
   width: 150px;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: transform 0.3s ease;
  }

  .logo img {
    max-width: 100px;
    max-height: 60px;
    object-fit: contain;
    transition: transform 0.3s ease;
  }
  .logo:hover{
    transform: scale(1.3);
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
    /* section-projects */

    .title {
      padding: 50px;
      font-size: 35px;
      background: linear-gradient(90deg, #43EA80, #08F8D4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  
    .project-section {
      text-align: center;
      padding: 4rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .cards-conteiner {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      align-items: flex-start;
      padding:  40px 20px;
    }
    
    .arrow {
      display: inline-block;
      margin-left: 10px;
      transition: transform 0.4s ease;
      color: #333;
      font-size: 1rem;
    }
    
    .card.expandido .arrow {
      transform: rotate(180deg);
    }

    .card {
      background-color: white;
      border-radius: 20px;
      overflow: hidden;
      max-width: 350px;
      transition: transform 0.6s ease,box-shadow 0.8s ease, max-height 0.6s ease;
      max-height: 450px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
    }
    /* hover */
    .card:hover {
      transform: translateY(-5px) scale(1.02);
      box-shadow: 0 20px 35px rgba(0, 0, 0, 0.15);
    }

    .card img {
      width: 100%;
      display: block;
      transition: transform 0.4s ease;
    }
      /* Conteúdo do card */

    .card-content {
      padding: 20px;
      text-align: center;
      transition: padding 0.4 ease;
    }


    .card-content h2 {
      font-size: 1.6em;
      color: #333;
      margin-bottom: 10px;
    }

    /* descrição oculta */
    .descricao{
      display: none;
      font-size: 1em;
      color: #555;
      line-height: 1.6;
      margin-top: 15px;
      padding: 12px;
      background: #f9f9f9;
      border-radius: 10px;
      min-height: 80px;
      text-align: left;
    }

    /* expandido */
    .card.expandido {
      transform: scale(1.03);
      box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
      max-height: 900px;
    }

    .card.expandido img {
      transform: scale(1.05);
    }

    .card.expandido .descricao {
      display: block;
      opacity: 1;
      max-height: 400px;
      margin-top: 15px;
    }

    /* Section Contacts */
    .Section-Contact {
      text-align: center;
      padding: 4rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .contact-title {
      padding: 50px;
      font-size: 35px;
      background: linear-gradient(90deg, #43EA80, #08F8D4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      justify-content: center;
      align-items: center;
      
    }

    .introduction {
      font-size: 20px;
      padding: 15px;
      margin-bottom: 80px;
      justify-content: center;
      align-items: center;
    }

    .contatos{
      display: flex;
    }
    .contatos a {
      margin: 50px;
      background: #041142;
      padding: 10px 30px 12px;
      border-radius: 10px;
      transition: 0.5s;
      border: 1px solid;
      text-decoration: none;
      color: #f2f2f2;
    }

    .contatos a:hover{
      background-color: #080c1c;
      border-color: #00ffb3;
      color: #f2f2f2;
    }

    .contatos img{
      width: 100px;
      height: 100px;
      border-radius: 90%;
      size: cover;
      margin-top: 20px;
      box-shadow: 1px 1px 15px #77ffd3;
    }









    /* responsividade */
    @media (max-width: 500px) {
      .card {
        max-width: 90%;
      }
    
      .card-content h2 {
        font-size: 1.3em;
      }
    
      .descricao {
        font-size: 0.95em;
      }
    }


  
  
